  
{{attach_library('zgsc/content')}}
<body>
  <header>
    <style type="text/css">
      .navImg {
        width: 75rem;
        margin: 0 auto;
        height: 8.125rem;
      }

      .navImg img {
        width: 100%;
        height: 8.125rem;
      }

      .navBottomCon {
        bottom: 0 !important;
      }

      /*3.16新闻资讯标题修改*/
      .Left .title .stit {

        font-weight: 400;
        font-family: '楷体';
      }
    </style>
    
    <div class="page">
      <!-- 引入头部 -->
      <!-- header -->
      <div class="header clear">
        <div class="header_l l">
          <a href="/"><img src="/{{ directory }}/images/index/logo.png"></a>
        </div>
        <div class="header_r">
          <a href="../index.html">首页</a>
          <a href="../hrml/gsgk/gsjl.html">公司概况</a>
          <a href="../hrml/xwzx/gszx.html">新闻中心</a>
          <a href="../hrml/djgz/djgz.html">党建工作</a>
          <a href="../hrml/zyyw/yybl.html">主营业务</a>
          <a href="../hrml/hwjg/zszoz.html">海外机构</a>
          <a href="../hrml/cpxx/cpxx.html">产品信息</a>
          <a href="../hrml/hyfw/hyfwjs.html">航运服务</a>
          <a href="javascript:;"></a>
          <a href="javascript:;"></a>
          <a href="/ss/index.jhtml">搜索</a>
        </div>
      </div>
    </header>

    <div class="nav">
      <!-- 引入选项卡 -->
      <div class="navImg">
        <img src="/{{ directory }}/images/banner/banner.png" alt="">
      </div>
      <div class="navBottom center">
        <div class="navBottomCon">
          <p>
            <span class="oneList">
              <img src="/{{ directory }}/images/content/homelogo.png">
              <a href="../index.html">首页</a>
              <span>&gt;</span>
              <span>
                <a href='../html/xwzx/gszx.html'>新闻中心</a>
                <span>&gt;</span>
                <a href='../html/xwzx/gszx.html'>公司资讯</a>
              </span>
            </span>
          </p>
        </div>
      </div>
    </div>
    <div class="main center">
      <div class="Left">
        {{ page.content|without('zgsc_local_tasks') }}
        <div class="btnArea clear">
          <div class="f">
            <p>
              <span>上一篇</span> |
              没有了
            </p>
            <p>
              <span>下一篇</span> |
              <a href="#"
                title='公司召开党史学习教育动员部署会<br><span class="stit">学史明理 学史增信 学史崇德 学史力行<span>'>公司召开党史学习教育动员部署会<br><span
                  class="stit">学史明理 学史增信 学史崇德 学史力行<span></a>
            </p>
          </div>
          <div class="f r">
            <a href="javascript:;" class="close">关闭</a>
          </div>
        </div>
      </div>
      <div class="Right noprint">
        <p><a href="#" class="hover_tx">公司资讯</a></p>
        <ul class="top">
          {{ page.content.gszxcbl }}
        </ul>
        <p><a href="../html/djgz/djgz.html" class="hover_tx">党建工作</a></p>
        <ul class="bottom">
          <li>
            <p class="inf all_w">
              <a href="#">诫勉的理解与适用初探</a>
            </p>
          </li>
          <li>
            <p class="inf all_w">
              <a href="#">“独立王国”的覆灭 ——北京隆达控股及下属印包集团、制版厂违反政治纪律组织纪律案剖析</a>
            </p>
          </li>
          <li>
            <p class="inf all_w">
              <a href="#">余涤非赴山东调研现代农业服务体系建设到中农天泰公司进行主题教育指导并讲党课</a>
            </p>
          </li>
          <li>
            <p class="inf all_w">
              <a href="#">三大粮食作物化肥农药使用量零增长</a>
            </p>
          </li>
          <li>
            <p class="inf all_w">
              <a href="#">集团公司召开党风廉政建设和反腐败工作会议</a>
            </p>
          </li>
        </ul>
      </div>
    </div>
    <!-- footer -->
    <!-- footer -->
    <div class="footer">
      <p class="l">Copyright © 2011-2015 版权所有 中国水产有限公司　<a href="#"
          target="_blank">京ICP备13001482号-1</a>　京公网安备11010602004977号</p>
      <p class="r">
        <a href="../html/gsgk/zpzw.html">招聘职位</a> |
        <a href="../html/gsgk/lxwm.html">联系我们</a> |
        <a href="../html/gsgk/flsm.html">法律声明</a>
      </p>
    </div>
  </div>
