{# 详情内容 #}

  <div class="NewBox" id="myDiv">
    <p class="info">
      作者：
      <span>
        {{ author_name }}
      </span>
      发布日期：
      <span>
        {{ node.created.0.value|date("Y-m-d") }}
      </span>
      <span>
        {{ content.node_word }}
      </span>
    </p>
    <div class="smalltext"><i></i>{{ node.body.summary }}</div>
    {{ content.body }}
    <p><br /></p>
  </div>